@model MvcShop.Models.LoginModel
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Login to your account</h2>
                    @*<form action="#">
                        <input type="text" placeholder="Name" />
                        <input type="email" placeholder="Email Address" />
                        <span>
                            <input type="checkbox" class="checkbox">
                            Keep me signed in
                        </span>
                        <button type="submit" class="btn btn-default">Login</button>
                    </form>*@

                    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                    {
                        @Html.ValidationSummary(false,"", new { @class = "text-danger" })

                        @Html.TextBoxFor(model => model.UserName, new { @class = "", @autofocus = "autofocus", @placeholder = "Tên đăng nhập"})

                        @Html.PasswordFor(model => model.Password, new { @class = "", @placeholder = "Mật khẩu" })

                        <label>
                            @Html.CheckBoxFor(model => model.RememberMe, new { @class = "" }) Remember Me
                        </label>
                        

                        <button type="submit" class="btn btn-default">Login</button>
                    }
                    
                </div><!--/login form-->
            </div>
        </div>
    </div>
</section><!--/form-->
