@model MvcShop.Models.LayoutViewModel
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <div class="container body-content">
        @Html.Action("Slider")
        <section>
            <div class="container">
                <div class="row">
                    @{ Html.RenderPartial("SideMenu",Model);}
                    @RenderBody()
                </div>
            </div>
        </section> 
        
        
        
    </div>

