@model MvcShop.Models.ShopModel
@{
    string status = "Còn hàng";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-9 padding-right">
    <div class="features_items">
        <!--features_items-->
        <h2 class="title text-center">@ViewBag.PageTitle</h2>
    @{ 
        MvcShop.Models.ShopModel partialModel = Model;
        Html.RenderPartial("ListProduct", partialModel);
    }
        

    </div><!--features_items-->
    <div class="col-xs-12 pagination-container">
        <ul class="pagination">

            @for (var i = 1; i <= 5; i++)
            {
                if (ViewBag.Page == i)
                {
                    <li class="active">@Html.ActionLink(i.ToString(), "Pages", new { page = i })</li>
                }
                else
                {
                    <li>@Html.ActionLink(i.ToString(), "Pages", new { page = i })</li>
                }
            }
            
            <li><a href="">&raquo;</a></li>
        </ul>
    </div>
</div>


