
@{
    ViewBag.Title = "Chỉnh sửa tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-12 col-xs-push-0 col-md-push-4 col-md-4 form-container form-edit-taikhoan">
    <h2>Sửa thông tin tài khoản</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="form-horizontal">

            <div class="form-group">
                <div class="col-md-12">
                    @Html.Password("newPassword", null, new { @class = "form-control", @placeholder = "Mật khẩu mới" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.Password("newPassword_confirm", null, new { @class = "form-control", @placeholder = "Nhập lại mật khẩu" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12 col-md-12 signup-submit">
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-6">
                            <input type="submit" value="Cập nhật" class="btn btn-primary col-xs-12" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



